/* 222831
393E46
00ADB5
EEEEEE */
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-weight: 400;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    min-height: 6rem;
    background-color: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: #EEEEEE;
}

.nav-link {
    text-decoration: none;
    transition: font-weight .1s, color .1s;
    &:hover {
        color: #222831;
        font-weight: 800;
    }
}

.main {
    padding-top: 6rem;
}

.hero {
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.hero-img-container {
    max-width: 500px;
}

.hero-img {
    max-width: 100%;
}

.hero-cta {
    margin-top: 1rem;
}


.cta {
    display: inline-block;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 500;
    color: #EEEEEE;
}

.cta-primary {
    background-color: #393E46;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #00ADB5;
        color: #222831;
    }
}